<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Start App | About Us</title>
</head>
<body>
<h1>About Us</h1>
<p>
Web development tools:
<a href="http://rubyonrails.org">Ruby on Rails</a>
</p>
</body>
</html>
