<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Apache Design weblink:
<a href="https://www.apache-da.com/">Apache</a>
</p>
<p>
Web development tools:
<a href="http://rubyonrails.org">Ruby on Rails</a>
</p>


