<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Start App | Help</title>
</head>
<body>
<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>
Get help on Ruby on Rails Tutorial at the
<a href="http://www.google.com">Google help page</a>
To get help on the Start app, see the
<a href="ttp://railstutorial.org/book">Rails Tutorial book</a>
</p>
</body>
</html>