<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Start App | Home</title>
</head>
<body>
<h1>Start App</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>
This is the home page for the self exercise
<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
</p>
</body>
</html>