<% provide(:title, 'All Microposts') %>
<h1>All Articles&Microposts</h1>

<%= will_paginate %>
<div class = "row">
<ul class="users">
	<%= render @articles %>
</ul>
</div>
<%= will_paginate %>