<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
		The form contains <%= pluralize(object.errors.count, "error") %>. 	
		</div>

		<ul>
		<% object.errors.full_messages.each do |msg| %>
			<% if msg == "Email is invalid" %>
				<% msg += ", [Apache ID]@ansys.com, e.g hdeng@ansys.com" %>
			<% end %>
			<li>* <%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>