<div id="runsqajob_form">
	<% if running?(@sqajob) == "notrun" %>
			<%= render 'sqajobrun' %>
	<% elsif running?(@sqajob) == "running" %>
			<%= render 'sqajobrunning' %>
	<% elsif running?(@sqajob) == "rundone" %>
			<%= render 'sqajobrundone' %>
	<% end %>
</div>