<%= form_for(Sqajobstatus.find_by(sqajob_id: @sqajob.id), remote:true) do |f| %>
	<div><%= f.hidden_field :sqajob_id %></div>
	<%= f.submit "CheckLog", class: "btn btn-large btn-primary" %>
<% end %>