<%= form_for(current_sqajob.sqajobstatuses.build(sqajob_id: current_sqajob.id), remote:true) do |f| %>
	<div><%= f.hidden_field :sqajob_id %></div>
	<%= f.submit "Run", class: "btn btn-large btn-success" %>
<% end %>