<% provide(:title, 'All SqaJobs') %>
<h1>All Special QA Jobs</h1>
<div class = "row">
	<aside class = "span12 offset2">
		

		<%= will_paginate %>
		<div class = "row">
			<ul class="users">
				<%= render @sqajobs %>
			</ul>
		</div>
		<%= will_paginate %>
	</aside>
</div>