<% provide(:title, 'All SqaJobs') %>
<div class = "row">
	<aside class = "span9 offset3">
		<h1>All Special QA Jobs</h1>

		<%= will_paginate %>
		<div class = "row">
			<ul class="users">
				<%= render @sqajobs %>
			</ul>
		</div>
		<%= will_paginate %>
	</aside>
</div>