<footer class="footer">
<small>© 2015 Apache Design Inc, a subsidiary of ANSYS, Inc</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a href="https://www.apache-da.com/company/news">News</a></li>
</ul>
</nav>
</footer>
